@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Lora:400,700);
html,body{
  height: auto;
  width: auto;
  display: block;
}
#body {
  @include set(background-position, $sm-up: bottom right, $lg-l-up: bottom right);
  @include set(background-size, $sm-up: cover, $lg-l-up: cover);
  @include set(background-image, $sm-up: url(../imgs/bernie-sanders-portrait-03-crop.jpg), $lg-l-up: url(../imgs/bernie-sanders-portrait-03.jpg));
  margin: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  display: block;
  position: relative;
  background-repeat: no-repeat;
}
#overlay{
  @extend %absolute-center-item;
  background: rgba(#087ED7, 0.25);
  display: block;
  width: 100%;
  height: 100%;
}

.intro{
  @extend %absolute-center-item;
  @include set(width, $sm-up: 70%, $lg-l-up: 40%);
  @include set(padding-top, $sm-up: 1rem, $lg-l-up: 20rem);
  @include set(padding-bottom, $sm-up: 0.5rem, $lg-up: 0);

  color: #FFFFFF;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0,0);
  position: relative;
  h1{
    @include set(font-size, $sm-up: 1.5rem, $md-up: 2.5rem, $lg-up: 2.75rem);
    @include set(text-align, $sm-up: center, $lg-up: right);
    width: 100%;
    display: inline-block;
    font-family: "Lora", serif;
    font-weight: 300;
    span{
      @include set(font-size, $sm-up: 2.25rem, $md-up: 3.5rem, $lg-up: 4.25rem);
      display: block;
      font-weight: 400;

    }
  }
  @media screen and (min-width: 1024px){
    transform: translate(-50%, -50%);
    top: 45%;
    left: 25%;
    position: absolute;
    margin: 0;
  }
}
#widget {
  @extend %absolute-center-item;
  @include set(width, $sm-up: 70%, $lg-l-up: 40%);
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0,0);
  position: relative;
  background: rgba(#FFFFFF, 0.75);
  color: #087ED7;
  font-family: lato, sans-serif;
  text-align: center;
  height: auto;
  padding: 1.5rem;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 1024px){
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 70%;
    margin: 0;
  }

  #logo{
    max-width: 35%;
    width: 100%;
    height: auto;
    max-height: 20%;
    margin-bottom: 1rem;
  }
  p{
    @include set(font-size, $sm-up: 1.35rem, $lg-up: 1.75rem);
    display: inline-block;
    text-align: center;
    font-family: "Lato", serif;
    font-weight: 300;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    margin: 0;
  }
}

label{
  text-align: left;
  a{
    @include tipsy(e, #087ED7, 0.25rem , 0);
    &:after{
      @include set(font-size, $sm-up: 0.9rem, $lg-up: 0.85rem);
      font-family: "Lato", serif;
      font-weight: 300;
      letter-spacing: 0.01rem;
      line-height: 1.5;
    }
    color: #087ED7;
    text-decoration: none;
    transition: all 0.45s ease-in-out;
    &:hover{
      color: #EA504E;
    }
  }
}
.inputArea {
  display: block;
  margin: 16px auto;
  position: relative;
  max-width: 256px;
}

input {
  padding: 12px 16px;
  border: 0;
  border-radius: 3px;
  margin-top: 4px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font: inherit;
}

.dollarSign {
  position: absolute;
  left: 7px;
  bottom: 12px;
  color: black;
}

.savings, .costs {
  font-size: 2rem;
  font-weight: lighter;
}

.savings{
  font-size: 2.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.2;
  span:nth-of-type(3){
    display: block;
    font-size: 1.25rem;
    margin: 0;
  }
}

.footer{
  @include set(height, $sm-up: 15rem, $lg-up: 7rem, $lg-l-up: 5rem);

  position: relative;
  display: block;
  width: 90%;
  left: 5%;
  @media screen and (min-width: 1024px){
    position: absolute;
    bottom: 0%;
  }

  left-block, right-block{
    @include set(width, $sm-up: 80%, $lg-up: auto, $lg-l-up: 45%);
    display: block;
    margin: 0 10%;
    height: auto;
    position: relative;
    @media screen and (min-width: 1024px){
      display: inline-block;
      margin: 0 2.5%;
    }

  }
  left-block{
    @include set(float, $sm-up: right, $lg-l-up: left);
    a{
      @include set(float, $sm-up: none, $lg-up: right);
    }
  }
  right-block{
    @include set(float, $sm-up: right);
    @include set(margin-bottom, $sm-up: 1rem, $lg-l-up: 0);
    @include set(margin-top, $sm-up: 1rem, $lg-l-up: 0);

    h4{
      @include set(float, $lg-up: left);
      @include set(width, $sm-up: 70%, $lg-up: auto);
      @include set(margin, $sm-up: 0 auto, $lg-up: 0);
      @include set(display, $sm-up: block, $lg-up: inline-block);
      text-align: center;
      font-size: 0.9rem;
      font-family: "lora", serif;
      font-weight: 300;
      letter-spacing: 0.01rem;
      line-height: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border: 1px solid white;
      color: white;
    }
    img{
      @include set(float, $lg-up: left);
      @include set(width, $sm-up: 70%, $lg-up: auto);
      @include set(height, $sm-up: auto, $lg-up: 2rem);
      @include set(margin, $sm-up: 0 auto, $lg-up: 0);
      @include set(display, $sm-up: block, $lg-up: inline-block);
      margin-top: 0.5rem !important;
      margin-left: 0.25rem;
    }
  }

  a#contribute{
    @include set(width, $sm-up: 70%, $lg-up: auto);
    @include set(margin, $sm-up: 0 auto, $lg-up: 0);
    @include set(display, $sm-up: block, $lg-up: inline-block);
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: 0.01rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0.7rem 1.35rem;
    background: #EA504E;
    text-decoration: none;
  }

  .social{
    line-height: 3.4rem;
    height: 3.4rem;
    @include set(width, $sm-up: 23%, $lg-up: 3.5rem);
    display: inline-block;
    position: relative;
    .icon {
      @extend %absolute-center-item;
    	display: inline-block;
    	width: 1.75em;
    	height: 1.75em;
    	fill: #ffffff;
    }
  }
}
