@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Lora:400,700);

#body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-size: 16px;
  display: block;
  position: relative;
  background: url(../imgs/bernie-sanders-portrait-03.jpg);
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
#overlay{
  @extend %absolute-center-item;
  background: rgba(#087ED7, 0.25);
  display: block;
  width: 100%;
  height: 100%;
}

.intro{
  @extend %absolute-center-item;
  color: #FFFFFF;
  width: 90%;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0,0);
  position: relative;
  padding-top: 2rem;
  h1{
    @include set(font-size, $sm-up: 1.5rem, $lg-up: 2.5rem);
    width: 100%;
    display: inline-block;
    font-family: "Lora", serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    span{
      @include set(font-size, $sm-up: 2.5rem, $lg-up: 3.75rem);
      display: block;
    }
  }
  p{
    @include set(font-size, $sm-up: 1rem, $lg-up: 1.55rem);
    display: inline-block;
    text-align: left;
    font-family: "Lato", serif;
    font-weight: 300;
    letter-spacing: 0.01rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 2rem;
    margin-top: 0.75rem;
  }
  @media screen and (min-width: 1024px){
    padding-top: 15rem;

    transform: translate(-50%, -50%);
    top: 45%;
    left: 25%;
    position: absolute;
    width: 40%;
    margin: 0;
    h1, p{
      text-align: right;
      padding-top: 0rem;
      margin-bottom: 0rem;

    }

  }
}
#widget {
  @extend %absolute-center-item;
  position: relative;
  top: 0;
  left: 0;
  transform: translate(0,0);
  position: relative;

  background: rgba(#FFFFFF, 0.75);
  color: #087ED7;
  font-family: lato, sans-serif;
  text-align: center;
  height: auto;
  padding: 1.5rem;
  border-radius: 4px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 1024px){
    transform: translate(-50%, -50%);
    position: absolute;
    top: 45%;
    left: 70%;
    width: 40%;
    margin: 0;
  }

  #logo{
    max-width: 35%;
    width: 100%;
    height: auto;
    max-height: 20%;
    margin-bottom: 1rem;
  }
}

label{
  text-align: left;
}
.inputArea {
  display: block;
  margin: 16px auto;
  position: relative;
  max-width: 256px;
}

input {
  padding: 12px 16px;
  border: 0;
  border-radius: 3px;
  margin-top: 4px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font: inherit;
}

.dollarSign {
  position: absolute;
  left: 7px;
  bottom: 12px;
  color: black;
}

.savings, .costs {
  font-size: 2rem;
  font-weight: lighter;
}

.savings{
  font-size: 2.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.2;
  span:nth-of-type(3){
    display: block;
    font-size: 1.25rem;
    margin: 0;
  }
}

.footer{
  position: absolute;
  bottom: 0%;
  display: block;
  width: 100%;
  height: 10rem;
  @media screen and (min-width: 1024px){
    height: 5rem;
  }

  left-block, right-block{
    display: block;
    width: 80%;
    margin: 0 10%;
    height: auto;
    position: relative;
    @media screen and (min-width: 1024px){
      display: inline-block;
      width: 40%;
      margin: 0 5%;
    }

  }
  left-block{
    float: left;
    a{
      float: right;
    }
  }
  right-block{
    float: right;
  }
  h4{
    float: right;
    display: inline-block;
    font-size: 0.9rem;
    font-family: "lora", serif;
    font-weight: 300;
    letter-spacing: 0.01rem;
    line-height: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border: 1px solid white;
    color: white;
    margin: 0;
    @media screen and (min-width: 1024px){
      float: left;
    }
  }
  img{
    float: right;
    display: inline-block;
    height: 2rem;
    width: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    @media screen and (min-width: 1024px){
      float: left;
    }
  }
}

#contribute{
  color: white;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 2rem;
  height: 2rem;
  margin: 0 0.35rem;
  padding: 0.7rem 1.35rem;
  background: #EA504E;
  display: inline-block;
  text-decoration: none;
}

.social{
  line-height: 3.4rem;
  height: 3.4rem;
  width: 3.5rem;
  display: inline-block;
  position: relative;
  .icon {
    @extend %absolute-center-item;
  	display: inline-block;
  	width: 1.75em;
  	height: 1.75em;
  	fill: #ffffff;
  }
}
