@function lower-bound($range){
    @if length($range) <= 0 {
        @return 0;
    }
    @return nth($range,1);
}

@function upper-bound($range) {
    @if length($range) < 2 {
        @return 999999999999;
    }
    @return nth($range, 2);
}

$small-range: (0em, 21.25em);
$medium-range: (21.313em, 46.1em);
$large-range: (46.163em, 64em);
$xlarge-range: (64.063em, 90em);
$xxlarge-range: (90.063em, 99999999em);

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";
%absolute-center-parent{
    position: relative;
}

%absolute-center-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin set($prop, $sm:null, $sm-up:null, $sm-l:null, $sm-l-up:null, $md:null, $md-up:null, $md-l:null, $md-l-up:null, $lg:null, $lg-up:null, $lg-l:null, $lg-l-up:null, $xlg:null, $xlg-up:null, $xxlg:null){
  @if $sm{
    @media #{$small-only} { #{$prop}: $sm;}
  }
  @if $sm-up{
    @media #{$small-up} { #{$prop}: $sm-up;}
  }
  @if $sm-l{
    @media #{$small-only} and (orientation: landscape) { #{$prop}: $sm-l;}
  }
  @if $sm-l-up{
    @media #{$small-up} and (orientation: landscape) { #{$prop}: $sm-l-up;}
  }
  @if $md{
    @media #{$medium-only} { #{$prop}: $md;}
  }
  @if $md-up{
    @media #{$medium-up} { #{$prop}: $md-up;}
  }
  @if $md-l{
    @media #{$medium-only}  and (orientation: landscape) { #{$prop}: $md-l;}
  }
  @if $md-l-up{
    @media #{$medium-up}  and (orientation: landscape) { #{$prop}: $md-l-up;}
  }
  @if $lg{
    @media #{$large-only} { #{$prop}: $lg;}
  }
  @if $lg-up{
    @media #{$large-up} { #{$prop}: $lg-up;}
  }
  @if $lg-l{
    @media #{$large-only} and (orientation: landscape) { #{$prop}: $lg-l;}
  }
  @if $lg-l-up{
    @media #{$large-up} and (orientation: landscape), #{$xlarge-up}, #{$xlarge-up} { #{$prop}: $lg-l-up;}
  }
  @if $xlg{
    @media #{$xlarge-only} { #{$prop}: $xlg;}
  }
  @if $xlg-up{
    @media #{$xlarge-up} { #{$prop}: $xlg-up;}
  }
  @if $xxlg{
    @media #{$xxlarge-only} { #{$prop}: $xxlg;}
  }
}
