body {
  margin: 0;
}

#widget {
  background: #147FD7;
  color: white;
  font-family: lato, sans-serif;
  margin: 32px auto 0;
  padding: 24px 32px;
  box-sizing: border-box;
  max-width: 640px;
  text-align: center;
}

h1 {
  margin: 0;
}

.inputArea {
  display: block;
  margin: 16px auto;
  position: relative;
  max-width: 256px;
}

input {
  padding: 12px 16px;
  border: 0;
  border-radius: 3px;
  margin-top: 4px;
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font: inherit;
}

.dollarSign {
  position: absolute;
  left: 7px;
  bottom: 12px;
  color: black;
}

.savings, .costs {
  font-size: 2em;
  font-weight: lighter;
}
